.App {
  text-align: center;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #ADD2C2;
  color: #6461A0;
  
}

h1{
  font-size: 10vh;
}

h3{
  font-size: 4vh;
  color: #CFA5B4
}
 h2{
   font-size: 5vh;
 }